name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  maven:
    name: "Execute build, run tests (Java ${{ matrix.java-version }})"
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java-version:
          - 8
          - 11
          - 17
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ matrix.java-version }}
      - run: "./mvnw --batch-mode clean install"
